/*
modifiziertes Stylesheet für das CRM-Programm
*/

h2{
	font-size: 2em;
}

.container{
	
	width: 1024px; 
}
#notiz{
	max-width:300px;
}

/*


*/

.infoPanel{
	margin-right: 20px;
	margin-bottom: 10px;
	float: right;
}
.panelStammdaten{
	
	margin-left: 340px;
}

.panel-title{
	
	padding: 20px;
	font-size: 1.5em;
	font-weight: bold;
}

/*


*/

.well{
	
	width: 800px;
}

/*


*/
.table-user-information{
	margin-left: 40px;	
	width: 550px;
	max-width: 550px;
}	

/*


*/

.suche .row .form-group{
	width: 150px;
}

/*


*/
.aboAbschliessen .row, .bestellungBearbeiten .row{
	
	width: 830px;
}

.bestellungBearbeiten table td, .aboAbschliessen table td{
	
	min-width:250px;
	
}
/*
	Handbuch-Style
*/

.miniMenu{
	margin-top: -20px;
	width: 250px; 
	float: left;

}
.cheapterContent{
	width: 750px;
	margin-left: 250px;

}
/*
	End
*/
