<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="customerService" class="de.waksh.crm.service.CustomerService">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="activityService" class="de.waksh.crm.service.ActivityService">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
 
</beans>